<form class="row g-3 border-1">
  <div class="mb-0">
    <input type="email" class="form-control" name="newTaskName" [(ngModel)]="newTaskName" placeholder="Task name">
    <p class="text-danger text-opacity-50"><small>{{newTaskNameErr}}</small></p>

  </div>
  <div class="mb-0">
    <textarea class="form-control" name="newTaskDescription" [(ngModel)]="newTaskDescription" rows="2" placeholder="Task description"></textarea>
    <p class="text-danger text-opacity-50"><small>{{newTaskDescriptionErr}}</small></p>

  </div>
  <div class="col-auto">
    <button type="submit" (click)="addTask()" class="btn btn-primary mb-3">Add task</button>
  </div>
</form>


<ul class="list-group">
  <li class="list-group-item" *ngFor="let task of (tasks|sortTasksBuStatus)">
    <div class="form-check">
      <input *ngIf="task.status == 'Done'" (click)="setTaskStatus(task, 'Active')" class="form-check-input" type="checkbox" checked>
      <input *ngIf="task.status == 'Active'" (click)="setTaskStatus(task, 'Done')" class="form-check-input" type="checkbox">



      <button type="button" class="btn float-end btn-outline-dark" (click)="task.descriptionOpen=!task.descriptionOpen">⌄</button>

      <button type="button" *ngIf="startedTask!=task.id" class="btn float-end btn-primary" (click)="startTask(task.id)">▶</button>
      <button type="button" *ngIf="startedTask==task.id" class="btn float-end btn-outline-primary" (click)="stopTask(task)">⏸</button>

      <div *ngIf="startedTask!=task.id" class="badge bg-primary text-wrap float-end">
        {{task.timeSpent}}
      </div>

      <div *ngIf="startedTask==task.id" class="badge bg-primary text-wrap float-end">
        {{timer}}
      </div>



      <label class="form-check-label"> {{task.name}}</label>
    </div>



    <div [class.show]="task.descriptionOpen" class="collapse" id="collapseExample">
      <div class="card card-body mb-2">
        {{task.description}}
      </div>
      <button type="button" (click)="removeTask(task.id)" class="btn float-end btn-danger">Remove task</button>
    </div>


  </li>
</ul>
