<div class="container my-lg-5">
  <div class="row justify-content-center">
    <form class="col-md-4">
      <div class="mb-3">
        <h1>Registration</h1>
        <label for="InputLogin" class="form-label" >Your login</label>
        <input type="text" class="form-control" id="InputLogin" name="username" [(ngModel)]="username">
        <p class="text-danger text-opacity-50"><small>{{usernameErr}}</small></p>
      </div>

      <div class="row mb-3">
        <div class="col">
          <label for="InputEmail" class="form-label">Your email</label>
          <input type="email" name="email" [(ngModel)]="email" class="form-control" id="InputEmail">
          <p class="text-danger text-opacity-50"><small>{{emailErr}}</small></p>
        </div>
      </div>


      <div class="row mb-3">
        <div class="col-6">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" name="password" [(ngModel)]="password" class="form-control" id="exampleInputPassword1">
          <p class="text-danger text-opacity-50"><small>{{passwordErr}}</small></p>
        </div>

        <div class="col-6">
          <label for="exampleInputPassword2" class="form-label">Repeat password</label>
          <input type="password" name="password2" [(ngModel)]="password2" class="form-control" id="exampleInputPassword2">
          <p class="text-danger text-opacity-50"><small>{{password2Err}}</small></p>
        </div>

        <div class="mb-3"></div>

      </div>
      <button type="submit" class="btn btn-outline-dark" (click)="createUser()">Register</button>
      <a class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover float-end"
         href="/login">Login</a>
    </form>
  </div>
</div>
