<div class="container my-lg-5">
  <div class="row justify-content-center" >
    <form class="col-md-4">
      <div class="mb-3">
        <h1>Login</h1>
        <label for="exampleInputEmail1" class="form-label">Your login</label>
        <input type="email" name="login" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" [(ngModel)]="login">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" name="password" class="form-control" id="exampleInputPassword1" [(ngModel)]="password">

      </div>
      <button type="submit" (touchstart)="onSubmit()" (click)="onSubmit()" class="btn btn-outline-dark" >Login</button>
      <a class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover float-end"
      href="/register">Registration</a>
    </form>
  </div>
</div>
