<div  class="container-fluid">
  <div *ngIf="isLoggedIn()" class="row flex-nowrap">
    <div class="col-auto px-0">
      <div id="sidebar" [class.show]="isToggle" class="collapse collapse-horizontal border-end">
        <div id="sidebar-nav" class="list-group border-0 rounded-0 text-sm-start min-vh-120">

          <div class="row" >
            <div class="col-12" *ngFor="let project of projects">
            <span [class.active]="currentProjectId==project.id" class="border-1 list-group-item"
                  (click)="setCurrentProject(project.id)">

              <a href="#" [class.active]="currentProjectId==project.id"
                 class="list-group-item border-0 d-inline-block text-truncate" data-bs-parent="#sidebar">
                <i class="bi bi-bootstrap"></i>
                <span>{{project.name}}</span></a>
              <button type="button" class="btn float-end btn-danger"
                      (click)="removeProject(project.id)">🞩</button>

            </span>
            </div>
            <div class="col-12 form-group">
              <input type="email" name="newProjectName" class="form-control" placeholder="New project name"
                     [(ngModel)]="newProjectName">
              <button id="btn-new-project" type="submit" (click)="addProject()" class="btn btn-primary">Create new project</button>
            </div>
          </div>




        </div>

      </div>
    </div>
    <main class="col ps-md-4 pt-2">
      <div class="page-header row">
        <div class="col-auto m-auto float-start">
          <button type="button" id="btn-menu" class="btn btn-outline-dark" (click)="isToggle=!isToggle">☰</button>
        </div>
        <div class="col pt-3 m-auto">
          <h2>Tasks</h2>
        </div>
        <div class="col">
        <a class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover float-end"
           (click)="logOut()"
           href="/login">Log out</a>
        </div>
      </div>
      <div class="container">
        <div class="row  justify-content-center">
          <div *ngIf="CurrentProjectIdNotUnderfind()" class="col-lg-11 gy-4 ">
            <app-tasks [projectId]="currentProjectId"></app-tasks>
          </div>
        </div>
      </div>
    </main>
  </div>
  <div *ngIf="!isLoggedIn() && (currentProjectId==-1)" class="row text-center">
    <div class="col-12">
      <h1>You are not logged in</h1>
    </div>
    <div class="col-12">
      <a class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover my-auto"
         href="/login">Go to Login</a>
    </div>
  </div>

</div>
